<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>User Profile</title>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid gap-5">
                <a class="navbar-brand" href="#">Azienda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees">Dipendenti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Progetti</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="d-flex justify-content-end me-4">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav navbar-dark bg-dark ml-auto">
                        <!-- Authentication Links -->

                        <!-- SE L'UTENTE NON È AUTENTICATO (Corrisponde a @guest) -->
                        <th:block sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/register}">Register</a>
                            </li>
                        </th:block>

                        <!-- SE L'UTENTE È AUTENTICATO (Corrisponde a @else) -->
                        <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span sec:authentication="name">Username</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-right"
                                    aria-labelledby="navbarDropdown">
                                    <a class="btn btn-dark" th:href="@{/user/profile}">
                                        <span>Profilo</span>
                                    </a>
                                    <form id="logout-form" th:action="@{/logout}" method="POST">
                                        <button class="btn btn-dark" type="submit">
                                            Logout
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </th:block>

                    </ul>
                </div>
            </div>

        </nav>

    </header>

    <main>

        <div class="container mb-5 d-flex flex-column justify-content-center align-items-center mt-5">

            <h4 th:if="${msg != null}" class="mt-3 mb-3" th:text="${msg}"></h4>

            <div class="card w-75">

                <div class="card-header d-flex justify-content-between align-items-center">

                    <h1 th:text="${user.username}">

                    </h1>

                    <a class="btn btn-warning" th:href="@{/user/update}">
                        Modifica
                    </a>

                </div>

                <div class="card-body">

                    <div class="row row-cols-2">

                        <h3 th:text="'Nome: ' + ${user.employee.name}">

                        </h3>

                        <h3 th:text="'Cognome: ' + ${user.employee.surname}" class="justify-self-center">

                        </h3>


                    </div>

                    <div class="row row-cols-2">

                        <h3 th:text="'Data di nascita: ' + ${user.employee.birthDate}">

                        </h3>

                        <h3 th:text="'Codice fiscale: ' + ${user.employee.fiscalCode}">

                        </h3>


                    </div>

                    <div class="row row-cols-2">

                        <h3 th:text="'Ruolo: ' + ${user.employee.role}">

                        </h3>

                        <h3 th:text="'Salario: ' + ${user.employee.salary}">

                        </h3>


                    </div>

                    <div class="row row-cols-2">

                        <h3 th:text="'Data di Assunzione: ' + ${user.employee.hiringDate}">

                        </h3>

                        <h3 th:text="'Email: ' + ${user.email}">

                        </h3>


                    </div>

                </div>
            </div>

        </div>

        <div class="container mt-5">

            <h1 class="text-center mb-4">Progetti</h1>

            <div class="row row-cols-3">

                <div class="col" th:each="project : ${user.employee.projects}">

                    <div class="card">

                        <div class="card-header">

                            <h1 th:text="${project.name}"></h1>

                        </div>

                        <div class="card-body">

                            <h4 th:text="${project.clientName}"></h4>

                            <h4 th:text="${project.budget}"></h4>

                            <h4 th:text="${project.startDate}"></h4>

                            <h4 th:text="${project.endDate}"></h4>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <!-- Show pass
    <script th:src="@{/js/show-pass.js}"></script> -->

</body>

</html>