<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>Form dipendente</title>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid gap-5">
                <a class="navbar-brand" href="#">Azienda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees">Dipendenti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Progetti</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="d-flex justify-content-end me-4">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav navbar-dark bg-dark ml-auto">
                        <!-- Authentication Links -->

                        <!-- SE L'UTENTE NON È AUTENTICATO (Corrisponde a @guest) -->
                        <th:block sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/register}">Register</a>
                            </li>
                        </th:block>

                        <!-- SE L'UTENTE È AUTENTICATO (Corrisponde a @else) -->
                        <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span sec:authentication="name">Username</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-right"
                                    aria-labelledby="navbarDropdown">
                                    <a class="btn btn-dark" th:href="@{/user/profile}">
                                        <span>Profilo</span>
                                    </a>
                                    <form id="logout-form" th:action="@{/logout}" method="POST">
                                        <button class="btn btn-dark" type="submit">
                                            Logout
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </th:block>

                    </ul>
                </div>
            </div>

        </nav>

    </header>

    <main>

        <div class="container">

            <h1 th:text="${employee.id == null ? 'Aggiungi dipendente' : 'Modifica dipendente'}">

            </h1>

            <form th:method="${employee.id == null} ? 'post' : 'put'" th:action="@{'/user/update'}"
                th:object="${employee}">

                <!-- <input type="hidden" th:field="*{id}" /> -->

                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"
                        th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                        placeholder="Inserisci il nome">

                    <span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div class="mb-3">
                    <label for="surname" class="form-label">Cognome</label>
                    <input type="text" class="form-control" id="surname" th:field="*{surname}"
                        th:classappend="${#fields.hasErrors('surname')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                        placeholder="Inserisci il cognome">

                    <span class="invalid-feedback" th:if="${#fields.hasErrors('surname')}"
                        th:errors="*{surname}"></span>
                </div>

                <div class="mb-3">
                    <label for="birthDate" class="form-label">Data di nascita</label>
                    <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}"
                        th:classappend="${#fields.hasErrors('birthDate') || (age != null and age < 18)} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')">

                    <span class="invalid-feedback" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">
                    </span>

                    <div class="invalid-feedback" th:if="${age != null and age < 18}">Devi essere maggiorenne.</div>
                </div>

                <div class="mb-3">
                    <label for="fiscalCode" class="form-label">Codice Fiscale</label>
                    <input type="text" class="form-control" id="fiscalCode" th:field="*{fiscalCode}"
                        th:classappend="${#fields.hasErrors('fiscalCode')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                        placeholder="Inserisci codice fiscale">

                    <span class="invalid-feedback" th:if="${#fields.hasErrors('fiscalCode')}"
                        th:errors="*{fiscalCode}"></span>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="mb-3">
                    <label for="role" class="form-label">Ruolo</label>
                    <select class="form-select" id="role" th:field="*{role}" placeholder="Seleziona ruolo"
                        th:classappend="${#fields.hasErrors('role')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')">

                        <option value="" selected th:if="${employee.id == null}">Seleziona il ruolo</option>

                        <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}">

                        </option>

                    </select>

                    <span class="invalid-feedback" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="mb-3">
                    <label for="salary" class="form-label">Salario</label>
                    <input type="number" class="form-control" id="salary" th:field="*{salary}" step="0.01"
                        th:classappend="${#fields.hasErrors('salary')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                        placeholder="Inserisci il salario">

                    <span class="invalid-feedback" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="mb-3">
                    <label for="hiringDate" class="form-label">Data di assunzione</label>
                    <input type="date" class="form-control" id="hiringDate" th:field="*{hiringDate}"
                        th:classappend="${#fields.hasErrors('hiringDate')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')">

                    <span class="invalid-feedback" th:if="${#fields.hasErrors('hiringDate')}"
                        th:errors="*{hiringDate}"></span>
                </div>

                <!-- User form -->

                <input type="hidden" th:field="*{user.id}">

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{user.email}"
                        th:classappend="${#fields.hasErrors('user.email')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}">
                    </span>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" th:field="*{user.username}"
                        th:classappend="${#fields.hasErrors('user.username')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')">
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('user.username')}"
                        th:errors="*{user.username}"></span>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="mb-3">
                    <label for="permission" class="form-label">Permesso</label>
                    <select class="form-select" id="permission" th:field="*{user.permission}"
                        th:classappend="${#fields.hasErrors('user.permission') || pass == false} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                        placeholder="Seleziona Permesso">

                        <option value="" selected th:if="${employee.id == null}">Seleziona il permesso</option>

                        <option th:each="perm : ${permissions}" th:value="${perm.id}" th:text="${perm.permissionType}">

                        </option>

                    </select>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('user.permission')}"
                        th:errors="*{user.permission}"></span>
                </div>

                <div class="mb-3">

                    <label for="password" class="form-label">Password</label>

                    <div class="input-group">

                        <input type="password" class="form-control" id="password" th:field="*{user.password}"
                            th:classappend="${#fields.hasErrors('user.password') || pass == false} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')">

                        <button class="btn btn-outline-secondary" type="button" id="togglePasswordBtn">

                            <span id="eyeIconOpen">
                                <i class="bi bi-eye"></i>
                            </span>

                            <span id="eyeIconClosed" class="d-none">
                                <i class="bi bi-eye-slash"></i>
                            </span>

                        </button>
                        <span class="invalid-feedback" th:if="${#fields.hasErrors('user.password')}"
                            th:errors="*{user.password}"></span>

                        <span class="invalid-feedback" th:if="${pass == false}">La password
                            deve essere min 6 max 10 1 minusc,2 maiusc, 1 num,2 caratteri speciali tra #!&-</span>
                    </div>


                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary"
                        th:text="${employee.id == null} ? 'Aggiungi' : 'Modifica'">

                    </button>
                </div>
            </form>

        </div>

    </main>

    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <!-- Show pass -->
    <script th:src="@{/js/show-pass.js}"></script>

</body>

</html>